{
    "debug": false,
    "key":"required, 加密key",
    "env":"optional, development|testing|production, 也可以通过设置环境变量 NODE_ENV=***",
    "server_port":"required, 服务的端口",
    "mysql":{
        "host":"optional, 127.0.0.1",
        "port":3306,
        "user":"user",
        "password":"***",
        "db":"***"
    },
    "redis":{
        "host":"optional, 127.0.0.1",
        "port":6379,
        "password":"***",
        "db":0
    },
    "jwt":{
        "secret":"optional, *** 对应的jwt的secret",
        "expire":"7200 单位为秒"
    },
    "oidc":{
        "client_id":"client id",
        "issuer":"url"
    }
}